.beat-head{
    display: flex;
    justify-content: space-around;
    padding: 100px 0px;
    font-size: 20px;
   
}
.b-head{
    
    margin: 0 10px;
    /* width: 30%; */
    height: 160px;
    font-size: 30px;
    font-weight: bold;
    
    
    
}
.pg-1{
    
    margin: 0 10px;
    width: 30%;
    height: 160px;
    padding: 10px 50px;
}

.pg-2{
    
    margin: 0 10px;
    width: 30%;
    height: 160px;
    padding: 10px 50px;
}